* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* REGOLE GENERALI */

.main-btn {

    border: none;
    background-color: rgb(40,99,246);
    padding: 5px 10px 5px 10px;
    color: white;
    font-size: 12px;
}

.main-btn-large {

    border: none;
    background-color: rgb(40,99,246);
    padding: 10px;
    color: white;
    font-size: 12px;

}



/* -------------------HEADER START  */

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    height: 60px;
    background-color: white;

    position: fixed;
    width: 100%;
    z-index: 999;




}

li img {

    width: 80%;

}


header a:link {

    text-decoration: none;
    color: rgb(121,121,121);
    font-weight: 10;
}


.right-side ul , .left-side ul , .button {

    display: flex;
    flex-direction: row;



    list-style: none;
    text-decoration: none;
    
}

.right-side ul li , .left-side ul li {

    margin: 0px 10px 0px 10px;
    height: 60px;
    line-height: 60px;


}

.right-side ul li:hover, .left-side ul li:hover {

    border-bottom: 1px solid black;


}


/* -------------------HEADER END  */

/* -------------------LEADER START */

.container {

    max-width: 60%;
    margin: auto;
}

.container-main , .bottom-join-in {

    max-width: 70%;
    margin: auto;
    margin-bottom: 100px;
}

.table-container {

    max-width: 80%;
    margin:auto;
}

.leader {

    background-color: rgb(185,207,229);
    padding-top: 80px;
}

h1 {

    font-size: 60px;
    text-align:justify;
    padding-top: 60px;
    margin-bottom: 60px;
    font-family: sans-serif;
    font-weight: bold;
}

.leader-content {

    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    height: fit-content;


}

.leader-img img {


    max-width: 800px;
;
   
}

.leader-content i {

    font-size: 50px;
    text-align: end;
}

.anchor-icon a:link {

    color: black;
}

.leader-img {

    position:relative;
    width: 70%;
}

.in-leader-img {

    position: absolute;
  
}


.description-area {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  
  font-size: 15px;
  font-family:sans-serif;
  width: 30%;

  gap: 50px;



}

/* -------------LEADER END */


main {

    margin-top: 150px;
}

main h1 {

    font-size: 50px;
}

.radio-button {

    margin-right: 50px;
}




/* TABLES */

.tables {

    display: flex;
    gap: 50px;
    justify-content: space-between;

    margin-top: 50px;
}

.services-table {

    width: calc(100% / 3);

    text-align: center;
  
    border: solid lightgrey 1px;
    margin-bottom: 50px;

}

.services-table span {

    color: rgb(121,121,121);
    font-size: 14px;
  
}

.services-table i {

    margin: 10px;
}

.services-table hr {

   
    border:none;
    background-color: lightgrey;
    height: 1px;
}

.top-table  {

    text-align: start;

}

.top-table * {

    margin-bottom: 20px;
}

.top-table h3 {

    margin-top: 20px;
    font-family: sans-serif;
}

.top-table p:nth-of-type(1) {

    font-weight: 900;
}

.top-table p:nth-of-type(2) {

    font-style: italic;
    font-family: sans-serif;
    color: rgb(121,121,121);
    font-weight: 100;
}

.top-table p:nth-of-type(3) {

   
    color: rgb(121,121,121);
    font-weight: 100;
    display: inline;
}

.top-table p:nth-of-type(4) {

   
    color: rgb(121,121,121);
    font-weight: 100;
    display: inline;
}

.top-table ul {

    list-style: none;
    margin-left:-11px; 
    margin-top: 50px;   
    
}

.top-table ul li {

    display: flex;
    align-items: flex-start;
}

.top-table ul li i {

    margin-top: 0px;
}

.button-table {

    display: flex;
    width: 100%;
    justify-content: center;
}

.button-table button {

    width: 100%;
    margin-bottom: 20px;
}

.button-table button a:link {

    color: white;
    text-decoration: none;
}

.table-container {

    text-align: start;
}

.table-container hr , .center-clients hr , .footer-box hr {

    border:none;
    background-color: lightgrey;
    height: 1px;
    width: 20%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.fa-check {

    color: rgb(40,99,246);
}



.services-table.large {

    width: 100%;
}



.button-table-large {

    margin-top:20px;
}

.button-table-large .main-btn-large {

    padding: 15px 50px;
}

.main-btn-large a:link {

    color: white;
    text-decoration: none;
}

.table-container-large .top-table p:nth-of-type(2) {

    font-style: normal;
    padding-top: 40px;
}

.table-container-large .top-table {

    width: 70%;


}


.table-container-large {

    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

/* TABLES */

/* PARTNER */

.partner-box {

    display: flex;
    justify-content: space-between;
    gap: 40px;

    font-family: sans-serif;
    font-size: 20px;

    margin-top: 200px;

}

.partner-box p {

    color: rgb(121,121,121);
}

.side-img img {

    width: 100%;
    

}

.side-img {

    width: 60%;
}


.info-partner {

    margin-top: 50px;
    margin-right: 25px;
    width: 40%;
}

.info-partner h2 {

    margin-bottom: 20px;
}

.info-partner p {

    margin-bottom: 20px;
}

.info-partner button {

    border: 1px solid rgb(121,121,121);
    padding: 15px 20px;
    background-color: white;
    color: rgb(121,121,121);
    font-size: 20px;
}


/* SECTION BUSINESS */
.three-section {

    display: flex;
    flex-wrap: wrap;

}
.business {

  
    width: calc(100% / 3);
}

.business p , .center-clients p {

    color: rgb(121,121,121);
    margin-top: 20px;
    margin-bottom: 50px;
}

.business img {

    width: 100%;
}

/* SECTION BUSINESS */

/* DISCOVER */

.discover {

    max-width: 50%;
}
/* DISCOVER */

/* CLIENTS */

.clients {


    width: 100%;
    display: flex;

}

.side-clients, .center-clients {

    width: calc(100vw / 3);

    
}

.center-clients {

    background-color: rgb(245,245,245);
}

.center-clients img {

    width: 50%;
    margin-top: 25px;
}






.side-clients {

    display: flex;
    flex-wrap: wrap;



}
.client-box {

    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.client-box img {

    width: 50%;
}

.client-box:hover {

    border: 10px solid rgba(255, 255, 255, 0.5)
}

.client-box:active {

    border: 15px solid white;
}


/* -------- */
/* -------- */
/* box-color */



.side-clients.left .client-box:nth-of-type(1) {

    background-color: rgb(89, 19, 43);
}

.side-clients.left .client-box:nth-of-type(2) {

    background-color: rgb(243, 208, 67);
}

.side-clients.left .client-box:nth-of-type(3) {

    background-color: rgb(171, 209, 160);
    forced-color-adjust: white;
}


.side-clients.left .client-box:nth-of-type(4) {

    background-color: rgb(185, 207, 229);
}





.side-clients.right .client-box:nth-of-type(1) {

    background-color: rgb(19, 38, 124);
}

.side-clients.right .client-box:nth-of-type(2) {

    background-color: red
}

.side-clients.right .client-box:nth-of-type(3) {

    background-color: rgb(63, 145, 201);
}

.side-clients.right .client-box:nth-of-type(4) {

    background-color: rgb(196, 41, 43);
}

/* box-color */
/* -------- */
/* -------- */

/* CLIENTS */

/* JOIN */

.bottom-join {

    width: 100%;
    background-color: rgb(185,207,229);

}

.bottom-join-in {

    display: flex;
    justify-content: space-between;

    padding: 100px 0px;
}

.bottom-button button {

    background-color: white;
    color: black;
    padding: 10px 30px;
}

.bottom-join-in h2 {

    width: 40%;
}


/* JOIN */

.faq {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0px;
}

h2[target] {

    margin-bottom: 50px;
}

.faq i {

    margin-right: 40px;
}

/* JOIN */

/* FOOTER */

footer {

    width: 100%;
    background-color: black;
}

.footer-box {

    width: 60%;
    margin: auto;
    padding-bottom: 50px;
}

.in-footer-box {


    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.utility {

    display: flex;
    flex-direction: column;
    color: white;
}

.utility ul {

    list-style: none;
    color: white;
}

.utility h4 {

    margin-bottom: 20px;
    margin-top: 80px;
}

.utility ul li {

    margin-bottom: 15px;
    font-family:'Courier New', Courier, monospace;
}

.lng {

    color: white;
    font-size: 10px;
    color: rgb(121,121,121);
    line-height: 10px;
    height: 10px;
}






