* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* REGOLE GENERALI */

.main-btn {

    border: none;
    background-color: rgb(40,99,246);
    padding: 5px 10px 5px 10px;
    color: white;
    font-size: 12px;
}

.main-btn-large {

    border: none;
    background-color: rgb(40,99,246);
    padding: 10px;
    color: white;
    font-size: 12px;
    width: fit-content;
}



/* -------------------HEADER START  */

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    height: 60px;
    background-color: white;
}

li img {

    width: 80%;

}


header a:link {

    text-decoration: none;
    color: rgb(121,121,121);
    font-weight: 10;
}

.right-side ul , .left-side ul , .button {

    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;

    list-style: none;
    text-decoration: none;

    
}

.right-side ul li , .left-side ul li {

    margin: 0px 10px 0px 10px;
    height: 60px;
    line-height: 60px;
}

.right-side ul li:hover, .left-side ul li:hover {

    border-bottom: 1px solid black;


}


/* -------------------HEADER END  */

/* -------------------LEADER START */

.container {

    max-width: 55%;
    margin: auto;
}

.leader {

    background-color: rgb(185,207,229);
}

.leader h1 {

    font-size: 60px;
    text-align:justify;
    padding-top: 60px;
    margin-bottom: 60px;
}

.leader-content {

    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    gap: 10px;
    padding-bottom: 15px;
    overflow: visible;
}

.leader-img img {

    width: 150%;
   
  

}


.description-area {

  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-family:sans-serif;

  gap: 40px;

}



.leader-content i {

    font-size: 50px;
    text-align: end;
}

.anchor-icon a:link {

    color: black;
}









/* -------------LEADER END */


main {

    height: 300px;
}


